BrokerTools/BrokerTools.Data/Service References/FundProxy/FundService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53877/MockService/FundService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53877/MockService/FundService.svc?xsd=xsd1" namespace="http://ACORD.org/Standards/Life/2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFundService_GetFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunds" />
  </wsdl:message>
  <wsdl:message name="IFundService_GetFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFundsResponse" />
  </wsdl:message>
  <wsdl:message name="IFundService_GetFund_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFund" />
  </wsdl:message>
  <wsdl:message name="IFundService_GetFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFundResponse" />
  </wsdl:message>
  <wsdl:portType name="IFundService">
    <wsdl:operation name="GetFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundService/GetFunds" message="tns:IFundService_GetFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundService/GetFundsResponse" message="tns:IFundService_GetFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFund">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundService/GetFund" message="tns:IFundService_GetFund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundService/GetFundResponse" message="tns:IFundService_GetFund_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFundService" type="tns:IFundService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFunds">
      <soap:operation soapAction="http://tempuri.org/IFundService/GetFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFund">
      <soap:operation soapAction="http://tempuri.org/IFundService/GetFund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>